<div class="row col-12 text-center">
    <div class="col-2"></div>
    <div class="col-8 fondo text-center divCentral" style="background-color: white;">
  
      <div>
        <br>
        <h1><strong>Mis Favoritos</strong></h1>
        <hr />
      </div>
      
      <div>
          <div style="float: left;margin-left: 15%;width: 70%;" >
            <!-- <table class="table table-info" *ngIf="pareja!=null || dispositivos!=null || vehiculos!=null"> -->
              
              <div *ngIf="receta==null else Incidencia" class="alert alert-info">
                    No hay infracciones que mostrar
                  </div>
                  
                  <ng-template #Incidencia>
                <table class="table">
              <thead>
                <tr >
                  <th >Titulo</th>
                  <th >Descripcion</th>
                  <th >Abrir</th>
                  <th >Eliminar</th>
                </tr>
              </thead>
              <tbody *ngFor="let favorito of favoritos">
                <tr *ngFor="let infraccion of receta">
                  <td *ngIf="favorito.idreceta==infraccion.id && favorito.idusuario==usuario.id">
                    {{infraccion.titulo}}
                  </td>
                  <td *ngIf="favorito.idreceta==infraccion.id && favorito.idusuario==usuario.id">
                    {{infraccion.detalle}}
                  </td>
                  <td *ngIf="favorito.idreceta==infraccion.id && favorito.idusuario==usuario.id">
                    <button class="btn btn-outline-primary" type="button" name="button" role="button" [routerLink]="['/receta/detalles', infraccion.id]">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                        <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                      </svg>
                    </button>
                  </td>
                  <td *ngIf="favorito.idreceta==infraccion.id && favorito.idusuario==usuario.id">
                    <button type="button" name="eliminar" (click)='eliminar(favorito)' class="btn btn-outline-danger btn-sm">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                        viewBox="0 0 16 16">
                        <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                      </svg>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
        </ng-template>
        <!--<app-paginator *ngIf="paginador" [paginador]="paginador"></app-paginator>-->
        </div>
      </div>
        
    </div>
      
  </div>
