<div class="row">

  <div class="col-2"></div>

  <div class="col-7 row titulo">
    Busqueda de recetas<br>
    <hr class="linea"><br>
  </div>

  <div class="col-1"></div>

</div>


<div class="row">
  <div class="col-2"></div>
  <div class="card col-7 card1">
    <div class="card-header row">
      <div class="titulofiltros">Filtro por titulo</div>
    </div>

    <!-- Formulario que pide al usuario la matricula -->
    <form #formBusqueda="ngForm">
      <div class="card-body text-center">
        <div class="form-group row">
          <label for="busqueda" class="col-sm-4 col-form-label">
            <h2>Buscar titulo:</h2>
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputBusqueda" #inputBusqueda>
          </div>
        </div>
        <!-- Cuando se pulse, se llamara al metodo que rellena la tabla -->
        <div class="form-group row">
          <div class="col-sm-6">
            <button class="btn btn-rounded btn-primary"
              type="button" (click)='rellenaTablaParcial(inputBusqueda.value)'>Buscar</button>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-rounded btn-primary"
              type="button"  routerLink="/receta/tabla/pg/0">Mostrar tabla completa</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-1"></div>
</div>

<div class="row" style="margin-top: 70px;">
  <div class="col-1"></div>
  <div class="card col-12 card2">
    <div class="card-header row">
      <div class="titulofiltros">Resultado de la busqueda</div>
    </div>

    <div class="row" *ngIf="vehiculos==null" style="margin-top: 20px;">
      <div class="col-5"></div>
      <div class="alert alert-info">No hay registros que mostrar</div>
    </div>

    <div class="row" *ngIf="vehiculos!=null" style="margin-top: 20px;">
      <div class="col-1"></div>
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Abrir</th>
            <th>Editar</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let incidencia of vehiculos">
            <td>{{incidencia.titulo}}</td>
            <td>{{incidencia.detalle}}</td>
            <td>
              <button type="button" name="editar" [routerLink]="['/receta/detalles', incidencia.id]"
                  class="btn btn-outline-primary btn-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                  </svg>
                </button>
            </td>
            <td>
                <button type="button" name="editar" [routerLink]="['/recetadetalle', incidencia.id]"
                  class="btn btn-outline-secondary btn-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                  </svg>
                </button>
              </td>
              <td>
                <button type="button" name="eliminar" (click)='eliminar(incidencia)' class="btn btn-outline-danger btn-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
