<form (ngSubmit)="createViajeUber()" class="mt-4" action="index.html" method="post">
<div class="row " style="margin-top: 50px">

  <div class="col-1"></div>

  <div class="card fondo row col-10">

    <div class=" text-center">
      <h3 class="pt-3"><strong>Viaje</strong></h3>
      <hr>
    </div>

    <div class="row">


      <div class="col-6 row ml-5">

        <div class="form-group">
          <label for="origen" class=" ">Origen</label>
          <input type="text" class="form-control ml-4"
            [(ngModel)]="viajeUber.addresspickup"
            name="origen"
            style="width: 470px; text-align: center"
            ngx-google-places-autocomplete
            [options]="options"
            #placesRef="ngx-places"
            (onAddressChange)="handleAddressChangeOrigen($event)"
            placeholder="Origen"
          />
        </div>

        <div class="form-group row">
          <label for="fechaida" class="ml-3">Fecha de recogida</label>
          <input
            matInput
            [matDatepicker]="pickerfechaida"
            class="form-control"
            [(ngModel)]="viajeUber.fecharecogida"
            name="fechaida"
            style="width: 298px; text-align: center; margin-left:40px;"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerfechaida"
            style="color: #0066A1; margin-left: -42px"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerfechaida></mat-datepicker>
        </div>

        <div class="form-group ">
          <label class="" for="motivodelviaje">Motivo del viaje</label>
          <select
            [(ngModel)]="viaje.motivo"
            name="motivo"
            class="form-control ml-4"
            id="motivodelviaje"
            style="width: 300px"
          >
            <option selected>Elija una opción</option>
            <option value="Trabajo ordinario (TO)">
              Trabajo ordinario (TO)
            </option>
            <option value="Evento interno o externo (EV)">
              Evento interno o externo (EV)
            </option>
            <option value="Reserva de invitado (GB)">
              Reserva de invitado (GB)
            </option>
            <option value="Reunión con cliente(MC)">
              Reunión con cliente(MC)
            </option>
            <option value="Reunión interna (MI)">
              Reunión interna (MI)
            </option>
            <option value="Reunión con proveedor (SM)">
              Reunión con proveedor (SM)
            </option>
            <option value="Formación (TR)">Formación (TR)</option>
            <option value="Comité de empresa (WC)">
              Comité de empresa (WC)
            </option>
            <option value="Política de expatriación (EP)">
              Política de expatriación (EP)
            </option>
            <option value="Otros (OT)">Otros (OT)</option>
          </select>
        </div>

      </div>

      <div class="col-4" style="margin-left:50px;">

        <div class="form-group">
          <label for="destino" class="col-form-label">Destino</label>
          <input
            type="text"
            class="form-control ml-4"
            [(ngModel)]="viajeUber.addressdestiny"
            name="destino"
            style="width: 470px; text-align: center"
            ngx-google-places-autocomplete
            [options]="options"
            #placesRef="ngx-places"
            (onAddressChange)="handleAddressChangeDestino($event)"
            placeholder="Destino"
          />
        </div>

        <div class="form-group">
          <div class="form-group">
            <label for="horaida" class="col-form-label">Hora de recogida</label>
            <input
              type="time"
              class="ml-4 form-control hora"
              [(ngModel)]="viajeUber.horarecogida"
              name="horaida"
              style="text-align: center; width: 250px; "
            />
          </div>
        </div>

        <div class="form-group">
          <label for="tipodetransporte">Tipo de transporte (Preferente)</label>
          <select [(ngModel)]="viaje.tipotransporte" style="text-align: center; width: 250px; " name= "ecotransporte"class="form-control text-center ml-4" id="tipodetransporte">
            <option selected>Ecológico / no ecológico</option>
            <option value="Etiqueta Cero">Etiqueta Cero</option>
            <option value="Etiqueta Eco">Etiqueta Eco</option>
            <option value="Etiqueta C">Etiqueta C</option>
            <option value="Etiqueta B">Etiqueta B</option>
            <option value="Sin Etiqueta">Sin Etiqueta</option>
          </select>
        </div>

      </div>

    </div>

    <div class="form-group text-center m-5">
      <label for="descripcion">Descripción</label>
      <textarea [(ngModel)]="viaje.descripcion" name="descripcion" class="form-control" id="descripcion" rows="6" placeholder="Justificación del viaje"></textarea>
    </div>

    <div class="form-group row text-center">
      <div class="col-12">
        <button class="btn" role="button" style="border: solid 2px">Solicitar</button>
      </div>

    </div>

  </div>

  <div class="col-2">

  </div>
</div>

</form>







<!--


        <div class="form-group">
          <label for="tipodetransporte">Tipo de transporte</label>
      <select [(ngModel)]="viaje.tipotransporte" style="text-align: center; width: 250px; " name= "ecotransporte"class="form-control text-center ml-4" id="tipodetransporte">
        <option selected>Ecológico / no ecológico</option>
        <option value="Etiqueta Cero">Etiqueta Cero</option>
        <option value="Etiqueta Eco">Etiqueta Eco</option>
        <option value="Etiqueta C">Etiqueta C</option>
        <option value="Etiqueta B">Etiqueta B</option>
        <option value="Sin Etiqueta">Sin Etiqueta</option>
      </select>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group text-center col-12">
          <label for="descripcion">Descripción</label>
          <textarea
            [(ngModel)]="viaje.descripcion"
            name="descripcion"
            class="form-control"
            id="descripcion"
            rows="6"
            placeholder="Justificación del viaje"
          ></textarea>
        </div>

        <div class="form-group row mt-4 text-center">
          <div class="col-sm-12">
            <button class="btn" role="button" style="border: solid 2px">
              Solicitar
            </button>
          </div>
        </div>

      </div>
    </div>
  </form>
</div> -->
