#fondo{
    background-color: white;
    box-shadow: 2px 2px 5px #999;
}
.card1,.card2{
    border:solid 2px #0066A1;
    border-radius: 7px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
.titulo{
  color:#0066A1;
  font-size: 25px;
  margin-bottom: 15px;
  Font-family: Copperplate, Copperplate Gothic Light, fantasy;
}
.tituloEco{
  color:rgb(44, 159, 88);
  font-size: 25px;
  margin-bottom: 15px;
  Font-family: Copperplate, Copperplate Gothic Light, fantasy;
}
.titulo2{
  color:goldenrod;
  font-size: 25px;
  margin-bottom: 15px;
  Font-family: Copperplate, Copperplate Gothic Light, fantasy;
}
.linea{
  background-color: #0066A1;
  width: 100%;
  height: 2px;
}
.lineaEco{
  background-color: rgb(44, 159, 88);
  width: 100%;
  height: 2px;
}
.lineaEcodatosdetallesvaloresEco{
  background-color: #0066A1;
  width: 100%;
  height: 2px;
}
.linea2{
  background-color: lightgrey;
  width: 2%;
  height: 260px;
  margin-top: 10px;
  margin-left: -30px;
}
.linea3{
  background-color: lightgrey;
  width: 2%;
  height: 430px;
  margin-top: -15px;
}
.linea4{
  background-color: goldenrod;
  width: 100%;
  height: 2px;
}
.linea5{
  background-color: lightgrey;
  width: 2%;
  height: 65px;
  margin-top: -15px;
}
.titulofiltros{
  color:#0066A1;
  font-size: 19px;
}
.columna1{
  margin-left: 20px;
}

.botonesfiltros,.botonatras{
  background-color: #0066A1;
  color: white;
  border:solid 2px rgb(105, 192, 255);
  border-radius: 5px;
}
.botonesfiltros:hover,.botonatras:hover{
    background-color: rgb(0, 172, 255);
  border:solid 3px #0066A1;
}
.cuerpofiltros{
  color: #0066A1;
  font-size: 17px;
}
.labelsfiltros:hover,.titulofiltros:hover{
  color: rgb(0, 172, 255);
}
.tarjetaviaje{
  font-size: 15px;
  color: #0066A1;
  padding: 15px;
}
.tarjetaviaje:hover{
  font-size: 17px;
  border: solid 2px #0066A1;
  border-radius: 10px;
  color: rgb(105, 192, 255);
}
.lineatarjetaviaje{
  background-color: lightgrey;
  width: 100%;
  height: 1px;
  margin-top: 5px;
}
.estado{
  background-color:rgb(0, 172, 255);
  color: white;
  border-radius: 0px;
}
.estadocompleted{
  background-color:rgb(44, 181, 88);
  color: white;
  border-radius: 0px;
}
.tipotransporteEco{
  color: rgb(44, 159, 88);
}
.tipotransporteNoEco{
  color: rgb(209, 66, 0);
}
.tipotransporteEco:hover,.tipotransporteNoEco:hover{
  color: goldenrod;
}
.tarjetainformacion:hover{
  color: goldenrod;
}
.botondetalles{
  background-color: #0066A1;
  color: white;
  border:solid 2px rgb(105, 192, 255);
  border-radius: 5px;
}
.botondetalles:hover{
    background-color: rgb(0, 172, 255);
  border:solid 3px #0066A1;
}
.botonactualizar{
  background-color: rgb(255, 224, 0);
  border:solid 2px #0066A1;
  color:#0066A1;
}
.botonactualizar:hover{
  background-color: white;
  border:solid 3px rgb(255, 224, 0);
}
.datosdetalleslabel{
  color:#0066A1;
  font-size: 19px;
}
.datosdetalleslabel:hover,.datosdetallesvalores:hover{
  /* color:rgb(0, 172, 255); */
  color: goldenrod;
}
.datosdetallesvalores{
  color: rgb(0, 172, 255);
  font-size: 16px;
}
.datosdetallesvaloresEco{
  color: rgb(44, 159, 88);
  font-size: 20px;
}
.datosdetallesvaloresEco:hover,.datosdetallesvaloresNoEco:hover{
  color: goldenrod;
  font-size: 24px;
}
.datosdetallesvaloresNoEco{
  color: rgb(209, 66, 0);
  font-size: 16px;
}
.mensageresgistroblockchain{
  color:#0066A1;
  font-size: 19px;
}
.txdatas{
  margin-left: 50px;
  color: rgb(0, 172, 255);
  font-size: 17px;
  text-decoration: none;
}
.txdatas:hover{
  color: goldenrod;
  font-size: 19px;
}
.svgtxdatas{
  color:#0066A1;
  width: 24px;
  height: 24px;
}
.botonconsultar{
  margin-top: 2px;
  background-color: #0066A1;
  color: white;
  border:solid 2px rgb(105, 192, 255);
  border-radius: 5px;
}
.botonconsultar:hover{
  background-color: rgb(0, 172, 255);
  border-color: #0066A1;
}
.barraprogresoprocessing,.barraprogresoaccepted,.barraprogresoarriving,.barraprogresoinprogress,.barraprogresocompleted {
  width: 100%;
  height: 12px;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: #aaa;
  background-color: green;
}
.labelimpactoEco{
  color:#0066A1;
  font-size: 19px;
}
.labelimpactoEco:hover{
  color: goldenrod;
  /* color: rgb(44, 159, 88); */
  /* color: rgb(0, 172, 255); */
}
.huellas{
  font-size: 27px;
}
.huellas:hover{
  font-size: 30px;
  color:rgb(44, 159, 88);
}
.imgZonaImpactoEco:hover{
  width: 80px;
  height: 80px;
}
.ecocoinsfinales{
  font-size: 22px;
}
.ecocoinsfinales:hover{
  font-size: 28px;
}
.progress{
  width: 95%;
  height: 12px;
  background-color: white;
}
.imgEcoCoins{
  width: 55px;
  height: 55px;
  margin-left: 25px;
}
