<div class="row" *ngIf="detalles!=true">

  <div class="col-1"></div>

  <div class="col-10 row titulo">
    Mis Viajes<br>
    <hr class="linea"><br>
  </div>

  <div class="col-1"></div>

</div>

<div class="row">
  <div class="col-1"></div>
  <div class="card col-10 card1" *ngIf="detalles!=true">
    <div class="card-header row" data-toggle="collapse" data-target="#collapse" aria-controls="collapse" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search mr-1 titulofiltros" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
      <div class="titulofiltros">Filtros</div>
    </div>
    <form>
      <div class="card-body row text-center collapse show cuerpofiltros" id="collapse">

        <div class="col-5 columna1">

          <div class="form-group col-9 mt-2">
            <label for="estado" type="button" class='labelsfiltros'>Estado</label>
            <select [(ngModel)]="estado" name= "estado" class="form-control" id="estado" type="button">
              <option selected value="undefined">Elegir estado</option>
              <option value="completed">completado</option>
              <option value="processing">procesando</option>
              <option value="accepted">aceptado</option>
              <option value="arriving">en camino</option>
              <option value="in_progress">en progreso</option>
            </select>
          </div>

          <div class="form-group col-9 mt-4">
            <label for="fecharecogida" type="button" class='labelsfiltros'>Fecha</label>
            <input [(ngModel)]="fecha" type="date" name="fecharecogida" class="form-control font-italic text-center" id="fecharecogida"/>
          </div>

          <div class="form-group col-9 mt-4">
            <label for="proveedor" type="button" class='labelsfiltros'>Proveedor</label>
            <select [(ngModel)]="proveedor" name= "proveedor" class="form-control" id="proveedor" type="button">
              <option *ngFor="let proveedor of proveedores" [ngValue]="proveedor">{{proveedor.nombre}}</option>
            </select>
          </div>

        </div>

        <div class="col-1">
          <div class="mt-2">
            <hr class="linea2">
          </div>

        </div>

        <div class="col-5 columna2">

          <div class="form-group mt-2">
            <label for="origen" type="button" class='labelsfiltros'>Origen</label>
            <input [(ngModel)]="origen" type="text" name="origen" class="form-control font-italic text-center" id="origen" placeholder="Elegir dirección..."/>
          </div>

          <div class="form-group mt-4">
            <label for="destino" type="button" class='labelsfiltros'>Destino</label>
            <input [(ngModel)]="destino" type="text" name="destino" class="form-control font-italic text-center" id="destino" placeholder="Elegir destino..."/>
          </div>

          <div class="row">
            <div class="col-3"></div>

            <div class="col-2 mt-3 mr-5">
              <button type="submit" class="btn botonesfiltros" style="margin-top: 20px;" (click)="buscarFiltradosPaginados()">Buscar</button>
            </div>

            <div class="col-2 mt-3">
              <button id="limpiar" class="btn botonesfiltros" style="margin-top: 20px;" (click)="limpiar()">Limpiar</button>
            </div>

            <div class="col-4"></div>

          </div>

        </div>

      </div>

    </form>
  </div>
  <div class="col-1"></div>
</div>

<div class="row" *ngIf="leng==0">
  <div class="col-1"></div>
  <div class="card">No se han encontrado viajes</div>
</div>

<div class="row">

  <div class="col-1"></div>

  <div class="card col-10 card2" *ngIf="detalles!=true && leng!=0" style="margin-top: 70px;">

    <div class="card-header row">Resultados: </div>

    <div class="card-body">

      <div class="row">
        <!-- la tarjeta del viaje -->
        <div class="col-6 tarjetaviaje mb-4" type="button" *ngFor="let viaje of viajes">
          <div class="row col-12">
            <div class="col-6 tarjetainformacion">
              {{viaje.requestid}}<br>
              {{viaje.fechaida}}<br>
              {{viaje.motivo}}<br>
            </div>
            <div class="col-6 text-right">
              <div class="btn btn-sm estado bg-warning" *ngIf="viaje.status=='processing'">procesando</div>
              <div class="btn btn-sm estado" *ngIf="viaje.status=='accepted'">aceptado</div>
              <div class="btn btn-sm estado" *ngIf="viaje.status=='arriving'">en camino</div>
              <div class="btn btn-sm estado" *ngIf="viaje.status=='in_progress'">en progreso</div>
              <div class="btn btn-sm estadocompleted" *ngIf="viaje.status=='completed'">completado</div>
            </div>
          </div>
          <hr class="lineatarjetaviaje">
          <div class="row col-12">
            <div class="col-6 tipotransporteEco" *ngIf="viaje.tipotransporte!='Sin Etiqueta' else elseBlock2">
              {{viaje.tipotransporte}}
              <img class="ml-2" src="./assets/images/tierra.svg" style="width:30px; height:30px;" alt="">
            </div>
            <ng-template #elseBlock2>
              <div class="col-6 tipotransporteNoEco">
                {{viaje.tipotransporte}}
                <img class="ml-2" src="./assets/images/nube.svg" style="width:30px; height:30px;" alt="">
              </div>
            </ng-template>
            <div class="col-6 text-right">
              <button type="button" class="btn btn-sm btn-warning mr-3 botonactualizar" name="botonupdate" (click)="updateStatus(viaje)" *ngIf="!viaje.idreceipt">Actualizar</button>
              <button type="button" class="btn btn-sm botondetalles" name="botondetalle" (click)="detallesViaje(viaje)">Detalles</button>
            </div>
          </div>
        </div>
        <!-- ********************* -->

      </div>

    </div>

  </div>

  <div class="col-1"></div>

</div>

<div class="row">
  <div class="col-1"></div>
  <app-paginator *ngIf="paginador && detalles!=true" [paginador]="paginador"></app-paginator>
</div>

<!-- Pagina de los detalles del viaje -->
<div id="fondo" class="">
<div class="row" *ngIf="detalles==true && viaje">
  <div class="col-1"></div>
  <div class="col-10  mt-5 row titulo">Estado del viaje<hr class="linea"></div>
  <div class="col-1"></div>
</div>

<!-- PROGRESS BAR PROCESSING -->
<div class="row mt-3 mb-5" *ngIf="detalles==true && viaje && viaje.status=='processing'">
  <div class="col-1"></div>
  <div class="col-10 row">
    <div class="btn btn-sm estado bg-warning" *ngIf="viaje.status=='processing'" style="margin-left:55px;">procesando</div>
  </div>
  <div class="col-1"></div>
</div>

<div class="row mt-3 mb-5" *ngIf="detalles==true && viaje && viaje.status=='processing'">
  <div class="col-1"></div>
  <div class="col-10 row">
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 8%;"></div>
    </div>
    <img class="" src="./assets/images/warningamarillo2.svg" style="width:60px; height:50px; margin-top:-35px; margin-left: 70px;">
  </div>
  <div class="col-1"></div>
</div>

<!-- PROGRESS BAR ACCEPTED -->
<div class="row mt-3 mb-5" *ngIf="detalles==true && viaje && viaje.status=='accepted'">
  <div class="col-1"></div>
  <div class="col-10 row">
    <div class="btn btn-sm estado" style="margin-left:55px;">procesando</div>
    <div class="btn btn-sm estado" *ngIf="viaje.status=='accepted'" style="margin-left:180px;">aceptado</div>
  </div>
  <div class="col-1"></div>
</div>

<div class="row mt-3 mb-5" *ngIf="detalles==true && viaje && viaje.status=='accepted'">
  <div class="col-1"></div>
  <div class="col-10 row">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 31%;background-color:rgb(0, 172, 255);"></div>
    </div>
    <img class="" src="./assets/images/checkazulcircular.svg" style="width:60px; height:50px; margin-top:-35px; margin-left: 70px;">
    <img class="" src="./assets/images/checkazulcircular.svg" style="width:60px; height:50px; margin-top:-35px; margin-left: 207px;">
  </div>
  <div class="col-1"></div>
</div>

<!-- PROGRESS BAR ARRIVING -->
<div class="row mt-3 mb-5" *ngIf="detalles==true && viaje && viaje.status=='arriving'">
  <div class="col-1"></div>
  <div class="col-10 row">
    <div class="btn btn-sm estado" style="margin-left:55px;">procesando</div>
    <div class="btn btn-sm estado" style="margin-left:180px;">aceptado</div>
    <div class="btn btn-sm estado" style="margin-left:190px;">en camino</div>
  </div>
  <div class="col-1"></div>
</div>

<div class="row mt-3 mb-5" *ngIf="detalles==true && viaje && viaje.status=='arriving'">
  <div class="col-1"></div>
  <div class="col-10 row">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%;background-color:rgb(0, 172, 255);"></div>
    </div>
    <img class="" src="./assets/images/checkazulcircular.svg" style="width:60px; height:50px; margin-top:-35px; margin-left: 70px;">
    <img class="" src="./assets/images/checkazulcircular.svg" style="width:60px; height:50px; margin-top:-35px; margin-left: 207px;">
    <img class="" src="./assets/images/checkazulcircular.svg" style="width:60px; height:50px; margin-top:-35px; margin-left: 207px;">
  </div>
  <div class="col-1"></div>
</div>

<!-- PROGRESS BAR IN_PROGRESS -->
<div class="row mt-3 mb-5" *ngIf="detalles==true && viaje && viaje.status=='in_progress'">
  <div class="col-1"></div>
  <div class="col-10 row">
    <div class="btn btn-sm estado" style="margin-left:55px;">procesando</div>
    <div class="btn btn-sm estado" style="margin-left:180px;">aceptado</div>
    <div class="btn btn-sm estado" style="margin-left:190px;">en camino</div>
    <div class="btn btn-sm estado" style="margin-left:190px;">en progreso</div>
  </div>
  <div class="col-1"></div>
</div>

<div class="row mt-3 mb-5" *ngIf="detalles==true && viaje && viaje.status=='in_progress'">
  <div class="col-1"></div>
  <div class="col-10 row">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%;background-color:rgb(0, 172, 255);"></div>
    </div>
    <img class="" src="./assets/images/checkazulcircular.svg" style="width:60px; height:50px; margin-top:-35px; margin-left: 70px;">
    <img class="" src="./assets/images/checkazulcircular.svg" style="width:60px; height:50px; margin-top:-35px; margin-left: 207px;">
    <img class="" src="./assets/images/checkazulcircular.svg" style="width:60px; height:50px; margin-top:-35px; margin-left: 207px;">
    <img class="" src="./assets/images/checkazulcircular.svg" style="width:60px; height:50px; margin-top:-35px; margin-left: 217px;">
  </div>
  <div class="col-1"></div>
</div>

<!-- PROGRESS BAR COMPLETED -->
<div class="row mt-3 mb-5" *ngIf="detalles==true && viaje && viaje.status=='completed'">
  <div class="col-1"></div>
  <div class="col-10 row">
    <div class="btn btn-sm estadocompleted" style="margin-left:55px;">procesando</div>
    <div class="btn btn-sm estadocompleted" style="margin-left:180px;">aceptado</div>
    <div class="btn btn-sm estadocompleted" style="margin-left:190px;">en camino</div>
    <div class="btn btn-sm estadocompleted" style="margin-left:190px;">en progreso</div>
    <div class="btn btn-sm estadocompleted" style="margin-left:240px;">completado</div>
  </div>
  <div class="col-1"></div>
</div>

<div class="row mt-3 mb-5" *ngIf="detalles==true && viaje && viaje.status=='completed'">
  <div class="col-1"></div>
  <div class="col-10 row">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%;background-color:rgb(44, 159, 88);"></div>
    </div>
    <img class="" src="./assets/images/checkverdecircular.svg" style="width:60px; height:50px; margin-top:-35px; margin-left: 70px;">
    <img class="" src="./assets/images/checkverdecircular.svg" style="width:60px; height:50px; margin-top:-35px; margin-left: 207px;">
    <img class="" src="./assets/images/checkverdecircular.svg" style="width:60px; height:50px; margin-top:-35px; margin-left: 207px;">
    <img class="" src="./assets/images/checkverdecircular.svg" style="width:60px; height:50px; margin-top:-35px; margin-left: 217px;">
    <img class="" src="./assets/images/checkverdecircular.svg" style="width:60px; height:50px; margin-top:-45px; margin-left: 1216px;">
  </div>
  <div class="col-1"></div>
</div>


<!-- THE ORIGINAL ONE -->
<!-- <div class="row mt-3 mb-5" *ngIf="detalles==true && viaje">
  <div class="col-1"></div>
  <div class="col-10 row">
    <div class="btn btn-sm estado bg-warning" *ngIf="viaje.status=='processing'" style="margin-left:55px;">procesando</div>
    <div class="btn btn-sm estado" *ngIf="viaje.status=='accepted'" style="margin-left:300px;">aceptado</div>
    <div class="btn btn-sm estado" *ngIf="viaje.status=='arriving'" style="margin-left:550px;">en camino</div>
    <div class="btn btn-sm estado" *ngIf="viaje.status=='in_progress'" style="margin-left:795px;">en progreso</div>
    <div class="btn btn-sm estadocompleted" *ngIf="viaje.status=='completed'" style="margin-left:1198px;">completado</div>
  </div>
  <div class="col-1"></div>
</div>

<div class="row mt-3" *ngIf="detalles==true && viaje">
  <div class="col-1"></div>
  <div class="col-10 row">
    <mat-progress-bar class="barraprogresoprocessing" mode="determinate" value="5" *ngIf="viaje.status=='processing'"></mat-progress-bar>

    <mat-progress-bar class="barraprogresoaccepted" mode="determinate" value="30" *ngIf="viaje.status=='accepted'"></mat-progress-bar>

    <mat-progress-bar class="barraprogresoarriving" mode="determinate" value="50" *ngIf="viaje.status=='arriving'"></mat-progress-bar>

    <mat-progress-bar class="barraprogresoinprogress" mode="determinate" value="70" *ngIf="viaje.status=='in_progress'"></mat-progress-bar>

    <mat-progress-bar class="barraprogresocompleted" mode="determinate" value="100" *ngIf="viaje.status=='completed'"></mat-progress-bar>

  </div>
  <div class="col-1"></div>
</div> -->
<!-- ******************************* -->

<div class="row mt-5" *ngIf="detalles==true && viaje">
  <div class="col-1"></div>
  <div class="col-10 row titulo">Detalles<hr class="linea"></div>
  <div class="col-1"></div>
</div>

<div class="row mt-3" *ngIf="detalles==true && viaje">
  <div class="col-1"></div>
  <div class="col-10 row">
    <div class="col-5">
      <div class="datosdetalleslabel">Empleado</div>
      <div class="ml-4 mt-2 mb-2 datosdetallesvalores">{{viaje.usuario.dasatos}}</div>
      <div class="datosdetalleslabel mt-4">Nombre</div>
      <div class="ml-4 mt-2 mb-2 datosdetallesvalores">{{viaje.usuario.usuariodetalle.nombre}}</div>
      <div class="datosdetalleslabel mt-4">Origen</div>
      <div class="ml-4 mt-2 mb-2 datosdetallesvalores">{{viaje.origen}}</div>
      <div class="datosdetalleslabel mt-4">Destino</div>
      <div class="ml-4 mt-2 mb-2 datosdetallesvalores">{{viaje.destino}}</div>
      <div class="datosdetalleslabel mt-4">Fecha de ida</div>
      <div class="ml-4 mt-2 mb-2 datosdetallesvalores">{{viaje.fechaida}}</div>
    </div>
    <div class="col-1">
      <div class="mt-2">
        <hr class="linea3">
      </div>
    </div>
    <div class="col-5 ml-5">
      <div class="datosdetalleslabel mt-3">Proveedor</div>
      <div class="ml-4 mt-2 mb-2 datosdetallesvalores">{{viaje.proveedor.nombre}}</div>
      <div class="datosdetalleslabel mt-4">Motivo</div>
      <div class="ml-4 mt-2 mb-2 datosdetallesvalores">{{viaje.motivo}}</div>
      <div class="datosdetalleslabel mt-4">Descripcion</div>
      <div class="ml-4 mt-2 mb-2 datosdetallesvalores">{{viaje.descripcion}}</div>
      <div class="datosdetalleslabel mt-4" >Id de Factura</div>
      <div class="ml-4 mt-2 mb-2 datosdetallesvalores" *ngIf="viaje.status!='completed'">A la espera de completar el viaje</div>
      <div class="ml-4 mt-2 mb-2 datosdetallesvalores" *ngIf="viaje.status=='completed'">{{viaje.idreceipt}}</div>
    </div>
  </div>
  <div class="col-1"></div>
</div>

<div class="row mt-5" *ngIf="detalles==true && viaje">
  <div class="col-1"></div>
  <div class="col-10 row tituloEco">Impacto Ecológico<hr class="lineaEco"></div>
  <div class="col-1"></div>
</div>

<div class="row mt-2" *ngIf="detalles==true && viaje">

  <div class="col-1"></div>
  <div class="col-10 row">

    <div class="col-4">
      <div class="datosdetalleslabel labelimpactoEco" type="button">Tipo de transporte</div>
      <div class="ml-4 mt-4 mb-2 datosdetallesvaloresEco" *ngIf="viaje.tipotransporte!='Sin Etiqueta' else elseBlock3" type="button">
        {{viaje.tipotransporte}}
        <img class="ml-4 imgZonaImpactoEco" src="./assets/images/tierra.svg" style="width:60px; height:60px;" alt="">
      </div>
      <ng-template #elseBlock3>
        <div class="ml-4 mt-4 mb-2 datosdetallesvaloresNoEco" type="button">
          {{viaje.tipotransporte}}
          <img class="ml-2" src="./assets/images/nube.svg" style="width:30px; height:30px;" alt="">
        </div>
      </ng-template>

      <div class="mt-5">
        <div class="labelimpactoEco" type="button">EcoCoins conseguidos</div>
        <div class="ml-4 mt-4 mb-2 datosdetallesvalores" *ngIf="viaje.status!='completed'">A la espera de completar el viaje</div>
        <div class="ml-4 mt-4 mb-2 datosdetallesvalores ecocoinsfinales" *ngIf="viaje.status=='completed' && viaje.tipotransporte!='Sin Etiqueta'" type="button">
          {{viaje.ecocoins}}
          <img class="imgEcoCoins" src="./assets/images/ecologico.svg "/></div>
        <div class="ml-4 mt-4 mb-2 datosdetallesvalores" *ngIf="viaje.status=='completed' && viaje.tipotransporte=='Sin Etiqueta'">Ninguno</div>
      </div>
    </div>

    <div class="col-4 text-center">
      <div class="labelimpactoEco" type="button">Huella de Carbono emitida</div>
      <div class="ml-4 mt-4 mb-2 datosdetallesvalores" *ngIf="viaje.status!='completed'">A la espera de completar el viaje</div>
      <div class="mt-5 datosdetallesvalores huellas" *ngIf="viaje.status=='completed'" type="button">{{viaje.huellaemision}} Kg/Co2</div>
    </div>

    <div class="col-4 text-center" *ngIf="viaje.tipotransporte!='Sin Etiqueta'">
      <div class="labelimpactoEco" type="button">Co2 evitado</div>
      <div class="ml-4 mt-4 mb-2 datosdetallesvalores" *ngIf="viaje.status!='completed'">A la espera de completar el viaje</div>
      <div class="mt-5 datosdetallesvalores huellas" *ngIf="viaje.status=='completed'" type="button">{{viaje.huellasalvada}} Kg/Co2</div>
    </div>


  </div>
  <div class="col-1"></div>

</div>

<div class="row mt-5" *ngIf="detalles==true && viaje">
  <div class="col-1"></div>
  <div class="col-10 row titulo2">Registro en Blockchain<hr class="linea4"></div>
  <div class="col-1"></div>
</div>

<div class="row mt-3" *ngIf="detalles==true && viaje && viaje.status!=='completed'">
  <div class="col-1"></div>
  <div class="col-10 mensageresgistroblockchain">Es necesario completar el viaje para consultar los datos registrados.</div>
  <div class="col-1"></div>
</div>


<div class="row mt-3" *ngIf="detalles==true && viaje && viaje.status=='completed'">
  <div class="col-1"></div>
  <div class="col-10 row">
    <div class="col-9">
      <div class="datosdetalleslabel">Id Tx Viaje</div>
      <div class="mt-3 mr-4 row" type="button">
        <div class="mr-2"><a class="txdatas" href="https://rinkeby.etherscan.io/tx/{{viaje.txdataviaje}}" target="_blank" rel="noopener noreferrer">{{viaje.txdataviaje}}</a></div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-link-45deg svgtxdatas" viewBox="0 0 16 16">
          <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
          <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
        </svg>
      </div>
      <div class="datosdetalleslabel mt-5">Id Tx EcoCoins</div>
      <div class="mt-3 mr-4 row" type="button">
        <div class="mr-2"><a class="txdatas" href="https://rinkeby.etherscan.io/tx/{{viaje.txdataecocoins}}" target="_blank" rel="noopener noreferrer">{{viaje.txdataecocoins}}</a></div>
        <svg class="svgtxdatas" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-link-45deg svgtxdatas" viewBox="0 0 16 16">
          <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
          <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
        </svg>
      </div>
    </div>
    <div class="col-2">
      <!-- <div class="datosdetalleslabel mt-4 mb-5"><a class="btn botonconsultar" href="https://rinkeby.etherscan.io/tx/{{viaje.txdataviaje}}" target="_blank" rel="noopener noreferrer">consultar</a></div>
      <div class="datosdetalleslabel mt-5"><a class="btn botonconsultar" href="https://rinkeby.etherscan.io/tx/{{viaje.txdataviaje}}" target="_blank" rel="noopener noreferrer">consultar</a></div> -->
    </div>
  </div>
  <div class="col-1"></div>
</div>

<div class="row mt-5" *ngIf="detalles==true && viaje">
  <div class="col-1"></div>
  <div class="col-10 row titulo"><hr class="linea4"></div>
  <div class="col-1"></div>
</div>

<div class="row mt-2" *ngIf="detalles==true && viaje">
  <div class="col-1"></div>
  <div class="col-2"><button type="button" class="btn ml-3 mb-5 botonatras" (click)="setDetalles()" *ngIf="detalles==true && viaje">Atrás</button><div>
  <div class="col-8"></div>
  <div class="col-1"></div>
</div>
</div>
