.enla{
    color: rgb(12, 179, 12);
    transform: translateX(10%);
}

.tite{
    color: black;
    font-size: 2em;
    text-transform: uppercase;
    left: 50%;
    top: 50%;
    transform: translateX(15%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

