<div class="row">

    <div class="col-4"></div>
  
    <div class="card col-4 ml-5 mt-5 mb-3 row" style="max-width: 30rem;">
      <div class="card-header row"><h2>{{vehiculo.titulo}}</h2></div>
     <div class=" container row" >
      <div class="card-body text-dark col-6 ">
        <h3 class="card-title">Descripcion:</h3>
        <p class="card-text ml-3">{{vehiculo.detalle}}</p>
        <h3 class="card-title">Tiempo:</h3>
        <p class="card-text ml-3">{{vehiculo.tiempo}}</p>
        <h3 class="card-title">Comensales:</h3>
        <p class="card-text ml-3">{{vehiculo.mesas}}</p>
      </div>
      <div class="card-body text-dark col-6 ">
        <h3 class="card-title">Ingredientes:</h3>
        <p class="card-text ml-3">{{vehiculo.lista}}</p>
        <h3 class="card-title">Pasos:</h3>
        <p class="card-text ml-3">{{vehiculo.pasos}}</p>
      </div>
      </div>
    </div>
  
    <div class="col-4"></div>
  
  </div>
