<div class="  row text-center ">

  <div class="col-3" ></div>

  <div class="col-6 fondo text-center divCentral">

    <div class="">
      <h1 class="pt-3"><strong>¿Con quién desea viajar?</strong></h1>
      <hr/>
    </div>

    <div class="row p-3 ml-3">
      <div class="" *ngFor="let proveedor of proveedores" routerLinkActive="active">
        <a class="nav-link" routerLink="/viajes/formnuevoviaje{{proveedor.nombre}}"><img  [src]="proveedor.link"/></a>
      </div>
    </div>

  </div>

  <div class="col-3" ></div>

</div>
